html {
    background: #F9FAFC;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 15px;
}

.vk-connect {
    margin-top: 120px;
}

.vk-connect__info {
    text-align: center;
}

.vk-connect-info__title {
    font-size: 28px;
}

.vk-connect-info__desc {
    color: gray;
}

.vk-connect-section__groups,
.vk-connect-section__switcher,
.vk-connect-section__groups li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vk-connect-section__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 7px;
}

.vk-connect-section__switcher li {
    margin-right: 25px;
}

.vk-connect-section__switcher li:last-child {
    margin-right: 0;
}

.vk-connect-section__switcher li a {
    color: #333;
    transition: all 0.1s;
    font-size: 14px;
    padding-bottom: 7px;
}

.vk-connect-section__switcher li.uk-active a {
    border-bottom: 2px solid #4680fe;
}

.vk-connect-section__switcher li a:hover {
    color: #4680fe;
    text-decoration: none;
}

li.vk-connect-section-group-item__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #e1e1e1;
    transition: all 0.3s;
}

li.vk-connect-section-group-item__list:hover {
    background: #EFF2F5;
}

.vk-connect-section-group-item__list:first-child {
    border-top: 1px solid #e1e1e1;
}

.vk-connect-section-group__info {
    display: flex;
    align-items: center;
}

.vk-connect-section-group-info__logo {
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.vk-connect-section-group-info__title {
    font-weight: 600;
    font-size: 15px;
    color: #333;
}

.vk-connect-section-group__connect button,
.vk-connect-section-group-connect__btn-active {
    background: #4680fe;
    padding: 5px 20px;
    border-radius: 4px;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    cursor: pointer;
}

.vk-connect-section-group__connect button:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    background: #1861FE;
}

.vk-connect-section-group__connect button:active {
    background: #094bd9;
}

.vk-connect-section-group-info__overlay,
.vk-connect-section-group-connect__close,
.vk-connect-section-group-connect__btn-active {
    display: none;
}

.vk-connect-section-group__info-active {
    position: relative;   
}

.vk-connect-section-group__info-active .vk-connect-section-group-info__overlay {
    display: block !important;
    width: 20px;
    height: 20px;
    background: #66BB6A;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 46px;
    top: 44px;
}

.vk-connect-section-group__info-active .vk-connect-section-group-info__overlay span {
    position: absolute;
    top: 2px;
}

.vk-connect-section-group__info-active .vk-connect-section-group-connect__btn {
    display: none;
}

.vk-connect-section-group__info-active button {
    box-shadow: none;
    background: none;
    display: inline-block;
    border: 1px solid #66BB6A;
    color: #66BB6A;
    cursor: inherit;
    margin-right: 5px;
    padding: 5px 19px;
}
.vk-connect-section-group__info-active .vk-connect-section-group-connect__close {
    display: inline-block;
    cursor: pointer;
}

.vk-connect-section-group__info-active button:hover {
    background: none;
    box-shadow: none;
}

.vk-connect__refresh {
    text-align: center;
    margin-top: 50px;
}

.vk-connect__refresh button {
    background: none;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    padding: 6px 20px;
    transition: all 0.2s;
    color: #555;
}

.vk-connect__refresh button span {
    vertical-align: middle;
}

.vk-connect__refresh button:hover {
    border-color: #afafaf;
}

.vk-connect__refresh button:active {
    background: #e5e5e5;
    border-color: #e5e5e5;
    opacity: 0.8;
}