
<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">

	<title>Подключение Facebook бота</title>


</head>

<body>

	<main>
		<div class="wrapper">
			<div class="vk-connect">
				<div class="vk-connect__info">
					<h1 class="vk-connect-info__title">
						Подключение сообществ
					</h1>

					<p class="vk-connect-info__desc">
						Выберите сообщество, которое хотите подключить к Chatlead:
					</p>
				</div>

				<div class="vk-connect__section">
					<ul class="vk-connect-section__switcher" uk-switcher="animation: uk-animation-fade">
						<li><a href="#">Все</a></li>
						<li><a href="#">Подключенные {{count_active}}</a></li>
						<li><a href="#">Не подключенные {{count_not_active}}</a></li>
					</ul>

					<ul class="vk-connect-section__groups uk-switcher">
						<li class="vk-connect-section-groups__item">
							<ul class="vk-connect-section-groups-item__group">

								{% for group in groups %}
								{% if group.is_active%}
								<li class="vk-connect-section-group-item__list vk-connect-section-group__info-active">
									<div class="vk-connect-section-group__info">
										<div class="vk-connect-section-group-info__logo">
											<img src="https://api.chatlead.io/app/media/static/img/defaul-img.png" alt="VK-avatar">

											<div class="vk-connect-section-group-info__overlay">
												<span uk-icon="check"></span>
											</div>
										</div>

										<p class="vk-connect-section-group-info__title" id="{{group.id}}~{{group.access_token}}">{{ group.name }}</p>
									</div>

									<div class="vk-connect-section-group__connect">
											<button class="vk-connect-section-group-connect__btn-active">Подключено</button>
											<button class="vk-connect-section-group-connect__btn" attr-id="{{group.id}}" attr-token="{{group.access_token}}" attr-name="{{group.name}}" attr-manager="{{manager_id}}" attr-user-token= "{{manager.user.user_token}}">Подключить</button>
									</div>
								</li>
								{% endif %}
								{% endfor %}

								{% for group in groups %}
								{% if not group.is_active%}
								<li class="vk-connect-section-group-item__list">
									<div class="vk-connect-section-group__info">
										<div class="vk-connect-section-group-info__logo">
											<img src="https://api.chatlead.io/app/media/static/img/defaul-img.png" alt="VK-avatar">

											<div class="vk-connect-section-group-info__overlay">
												<span uk-icon="check"></span>
											</div>
										</div>

										<p class="vk-connect-section-group-info__title" id="{{group.id}}~{{group.access_token}}">{{ group.name }}</p>
									</div>

									<div class="vk-connect-section-group__connect">
											<button class="vk-connect-section-group-connect__btn-active">Подключено</button>
											<button class="vk-connect-section-group-connect__btn" attr-id="{{group.id}}" attr-token="{{group.access_token}}" attr-name="{{group.name}}" attr-manager="{{manager_id}}" attr-user-token= "{{manager.user.user_token}}">Подключить</button>
									</div>
								</li>
								{% endif %}
								{% endfor %}


							</ul>
						</li>

						<li class="vk-connect-section-groups__item">
							<ul class="vk-connect-section-groups-item__group">
								{% for group in groups %}
								{% if group.is_active%}
								<li class="vk-connect-section-group-item__list vk-connect-section-group__info-active">
									<div class="vk-connect-section-group__info">
										<div class="vk-connect-section-group-info__logo">
											<img src="https://api.chatlead.io/app/media/static/img/defaul-img.png" alt="VK-avatar">

											<div class="vk-connect-section-group-info__overlay">
												<span uk-icon="check"></span>
											</div>
										</div>

										<p class="vk-connect-section-group-info__title" id="{{group.id}}~{{group.access_token}}">{{ group.name }}</p>
									</div>

									<div class="vk-connect-section-group__connect">
											<button class="vk-connect-section-group-connect__btn-active">Подключено</button>
											<button class="vk-connect-section-group-connect__btn" attr-id="{{group.id}}" attr-token="{{group.access_token}}" attr-name="{{group.name}}" attr-manager="{{manager_id}}" attr-user-token= "{{manager.user.user_token}}">Подключить</button>
									</div>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</li>
						<li class="vk-connect-section-groups__item">
							<ul class="vk-connect-section-groups-item__group">
								{% for group in groups %}
								{% if not group.is_active%}
								<li class="vk-connect-section-group-item__list">
									<div class="vk-connect-section-group__info">
										<div class="vk-connect-section-group-info__logo">
											<img src="https://api.chatlead.io/app/media/static/img/defaul-img.png" alt="VK-avatar">

											<div class="vk-connect-section-group-info__overlay">
												<span uk-icon="check"></span>
											</div>
										</div>

										<p class="vk-connect-section-group-info__title" id="{{group.id}}~{{group.access_token}}">{{ group.name }}</p>
									</div>

									<div class="vk-connect-section-group__connect">
											<button class="vk-connect-section-group-connect__btn-active">Подключено</button>
											<button class="vk-connect-section-group-connect__btn" attr-id="{{group.id}}" attr-token="{{group.access_token}}" attr-name="{{group.name}}" attr-manager="{{manager_id}}" attr-user-token= "{{manager.user.user_token}}">Подключить</button>
									</div>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</main>
	<!--<link rel="stylesheet" href="./css/uikit.min.css">-->
	<!--<link rel="stylesheet" href="./css/style.css">-->
	<link rel="stylesheet" href='https://api.chatlead.io/app/media/static/css/uikit.min.css'>
	<link rel="stylesheet" href='https://api.chatlead.io/app/media/static/css/style.css'>

	<!--<script src="./js/uikit.min.js"></script>-->
	<!--<script src="./js/uikit-icons.min.js"></script>-->


	<script>
		const buttons = document.getElementsByClassName('vk-connect-section-group-connect__btn');

		[].forEach.call(buttons,function(el){
    		el.addEventListener('click', function (e) {
    		    try {
                    debugger;
                    const formData = new FormData();

                    formData.append("user_token", e.toElement.attributes['attr-user-token'].value);
                    formData.append("manager_id", e.toElement.attributes['attr-manager'].value);
                    formData.append("facebook_token", e.toElement.attributes['attr-token'].value);
                    formData.append("facebook_group_id", e.toElement.attributes['attr-id'].value);
                    formData.append("facebook_name", e.toElement.attributes['attr-name'].value);
					console.log(formData);
                    const response = fetch('https://api.chatlead.io/app/api/FacebookAuthGroup/', {
                        method: 'post',
						body: formData
                        // pa: {
                        //     "user_token": e.toElement.attributes['attr-user-token'],
                        //     "manager_id": e.toElement.attributes['attr-manager'],
                        //     "facebook_token": e.toElement.attributes['attr-token'],
                        //     "facebook_group_id": e.toElement.attributes['attr-id'],
                        //     "facebook_name": e.toElement.attributes['attr-name'],
                        // }
                    }).then(function(response) {
                       return response.json()
						  })
						  .then(function (data) {
							console.log('data', data);
							  if (data['ok']){
							    window.location.href = data['url']
							  }
						  })
					// console.log('Completed!', response.json());

                } catch (err) {
    		        debugger;
                    console.error(`Error: ${err}`);
                }
			})
		});


	</script>
	<script src='https://api.chatlead.io/app/media/static/js/uikit.min.js'></script>
	<script src='https://api.chatlead.io/app/media/static/js/uikit-icons.min.js'></script>
</body>
</html>